* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  body {
    padding: 1em;
    box-sizing: border-box;
    background-color: rgb(24, 24, 23);

  }
  
  header{
    max-width: 600px;
  }

  .mx-auto{
    margin: 0 auto;
  }
    
  .card {
    
    background-color: rgb(46, 46, 46);
    width: 100%;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
  }


  @media (min-width:700px){
    .card{
      width: 250px;
    }
  }


  @media (min-width:967px){
    .card{
      width: 350px;
    }
  }
  
  form{
    width: 100%;
  }
  input {
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 2.3em;
    box-sizing: border-box;
    transition: all 160ms ease;
  }
  input:focus {
    box-shadow: 2px 2px 8px rgb(114 114 114);

  }
  
  .loader{
    margin: 1.6em auto;
    display: block;
  }
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4em;
  }

  .card h4{
    margin: 1.5em 1.2em;
  }

  
  .card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }

  button{
    padding: 1em 2em;
    background-color: rgb(95, 49, 186);
    border: 1em;
    color: white;
  }
  

  .text-muted{
    color: gray !important;
  }

  .text-center{
    text-align: center;
  }

  .text-capitalize{
    text-transform: capitalize;
  }

  .text-white{
    color: white !important;
  }
.font-weight-light{
  font-weight: 300;
}